// color
$darkBlue: #1E3163;
$lightBlue: #2D46B9;
$pink: #F037A5;
$white: #F8F8F8;

// mixin
@mixin flexBox($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin container($maxWidth, $padding) {
    max-width:$maxWidth;
    padding: $padding;
    margin: auto;
}

@mixin borderBottom($color, $width, $animation: none) {
    &::after {
        content: "";
        position: absolute;
        width: $width;
        bottom: 0;
        left: 0;
        transform: translateX(-2px);
        border: 2px solid $color;
        border-radius: 10px;
        box-shadow: 0 -2px 10px rgba($color: $color, $alpha: .5);
        animation: $animation;
    }
}