// variables
@use "./variables" as var;

// components
@use "./components/navbar";

// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var.$darkBlue, var.$lightBlue);
    background-repeat: no-repeat;
    color: var.$white;
}