// variables
@use "./variables"as var;

// animation
@use "./animations";

// components
@use "./components/navbar";
@use "./components/header";

// font
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, var.$darkBlue, var.$lightBlue);
    background-repeat: no-repeat;
    color: var.$white;
}

.btn {
    cursor: pointer;
    border: none;
    outline: none;
    font-size: .9rem;
}