@use "../variables"as var;

.navbar {
    height: 10vh;

    .navbar-container {
        @include var.flexBox(row, space-between, center);
        @include var.container(1450px, 0 3rem);
    }

    a {
        color: var.$white;
        text-decoration: none;
        display: block;
    }

    .active {
        &::after {
            content: "";
            width: 94%;
            position: absolute;
            bottom: 0;
            left: 0;
            border: 2px solid var.$pink;
            border-radius: 10px;
        }
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-menu {
        @include var.flexBox(row, flex-start, flex-start);
        height: 100%;
        list-style: none;

        .navbar-link {
            position: relative;
            line-height: 10vh;
            margin: 0 1rem;
            padding: 0 .7rem;

            &:hover::after {
                content: "";
                width: 94%;
                position: absolute;
                bottom: 0;
                left: 0;
                border: 2px solid var.$pink;
                border-radius: 10px;
            }
        }
    }
}